/* Reset body padding and margins */
body {
  background-color: #000;
  color: #fff;
  margin:0;
  padding:0;
  -webkit-font-smoothing: subpixel-antialiased;
}
body,input,textarea,button{
  /* setting as 1em = 16px of client by default */
  font:normal 1em/1.4em 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
h1, h2{
  margin:0;
  line-height: 1.4em;
}
h1 small {
  font-weight: 300;
  font-size: .5em;
  display: block;
  line-height: 1.4em;
}
p {
  margin:1em 0;
}

/* ==========================================================================
LINKS
========================================================================== */
  #links {
    position:fixed;
    top: 10px;
    right: 9px;
    z-index: 10;
  }

  #kickstarter{
    display: block;
    width: 170px;
    height:65px;
    background: url('../img/kickstarter.png') no-repeat center center;
    background-size: 170px auto;
    font-size: 0;
    text-decoration: none;
    outline: none;
  }

/* ==========================================================================
CONTENT BLOCKS
========================================================================== */
  .content {
    z-index: 5;
    position: absolute;
    width:100%;
    box-sizing: border-box;
    height: 905px;
    padding: 0 120px;
  }
  .content-black{
    background-color: #000;
    background-position: calc(100% - 120px) center;
    background-repeat: no-repeat;
    height: 695px;
  }

  /* ==========================================================================
  CONTENT-1
  ========================================================================== */
    #content-1{
        top:0;
    }

    #content-1 > div {
      margin:100px 0 0 0;
      text-align: center;
      width:50%;
    }

    #logo {
      background: url('../img/repcord-logo.png') no-repeat bottom center;
      background-size: contain;
      max-width:600px;
      width:100%;
      height:105px;
      margin:auto;
    }

    #motto {
      margin:15px 0 75px;
    }

    #why {
      font-size: 1.4em;
      line-height: 1.4em;
      padding:0 50px 280px;
      background: url('../img/repcord-product.png') no-repeat center calc( 100% - 80px);
      position: relative;
    }

    #why a {
      display: block;
      background-color: #FF6A02;
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      position: absolute;
      padding:.5em 1em;
      font-size: 1rem;
      border-radius: .5em;
      bottom:0;
      left:50%;
      transform: translateX(-50%);
    }

    #video {
      margin-top:-50px;
      box-sizing: border-box;
      width: calc( 50% - 120px );
      right:120px;
      height:500px;
      position: absolute;
      text-align:center;
    }
    #video-wrapper{
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      height:0;
    }
    #video iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

  /* ==========================================================================
  CONTENT-2
  ========================================================================== */
    #content-2{
      background-image: url('../img/circle-photo1.png');
      top: 905px;
    }

    #content-2 > div {
      margin:347.5px 0 0 0;
      width: 550px;
      transform: translateY(-50%);
    }

  /* ==========================================================================
  CONTENT-3
  ========================================================================== */
    #content-3{
      top: 1600px;
    }

    #content-3 > div {
      margin:452.5px 0 0 calc(100% - 500px);
      transform: translateY(-50%);
      width: 500px;
      text-align: right;
    }

  /* ==========================================================================
  CONTENT-4
  ========================================================================== */
    #content-4{
      background-image: url('../img/circle-photo2.png');
      top: 2505px;
    }

    #content-4 > div {
      margin:350px 0 0 0;
      width: 550px;
      transform: translateY(-50%);
    }

  /* ==========================================================================
  CONTENT-5
  ========================================================================== */
    #content-5{
      top: 3200px;
    }

    #content-5 > div {
      margin:452.5px 0 0 0;
      width: 500px;
      transform: translateY(-50%);
    }

    #content-5-text{
      float: right;
      text-align: right;
    }
    #contact-form {
      float: left;
    }

/* ==========================================================================
BACKGROUNDS
========================================================================== */

  .background{
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 905px;
    position:absolute;
    width: 100%;
    z-index: 1;
  }
  #background-1 {
    background-image: url(../img/repcord-background-1.jpg);
    top: 0px;
  }

  #background-2 {
    background-image: url(../img/repcord-background-2.jpg);
    top: 1600px;
  }

  #background-3 {
    background-image: url(../img/repcord-background-3.jpg);
    top: 3200px;
  }

/* ==========================================================================
FORM
========================================================================== */
  form {
      margin:0;
  }

  label {
      display:block;
      margin:20px 0 5px;
  }

  input, textarea, button {
    width:100%;
    line-height: 1.4em;
    padding:.63em;
    height:2.66em;
    background:#efefef;
    border:1px solid #dedede;
    color:#3a3a3a;
    box-sizing: border-box;
  }

  textarea {
    height:150px;
  }

  input:focus, textarea:focus {
      border:1px solid #97d6eb;
  }

  #submit {
      width:127px;
      height:38px;
      border:none;
      margin-top:20px;
      cursor:pointer;
  }

  #submit:hover {
    opacity:.9;
  }

  .success {
    padding: 10px;
    margin-bottom: 0.75rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #468847;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
  }

  .error {
    padding: 10px;
    margin-bottom: 0.75rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #b94a48;
    background-color: #f2dede;
    border: 1px solid rgba(185, 74, 72, 0.3);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
  }

/* ==========================================================================
ANIMATIONS
========================================================================== */
  /* make keyframes that tell the start state and the end state of our object */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

  .fade-in {
      opacity:0;  /* make things invisible upon start */
      -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
      -moz-animation:fadeIn ease-in 1;
      animation:fadeIn ease-in 1;

      -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
      -moz-animation-fill-mode:forwards;
      animation-fill-mode:forwards;

      -webkit-animation-duration:1s;
      -moz-animation-duration:1s;
      animation-duration:1s;
  }

  .fade-in.one {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }

  .fade-in.two {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay:0.6s;
    animation-delay: 0.6s;
  }

  .fade-in.three {
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
    animation-delay: 0.9s;
  }

/* ==========================================================================
RESPONSIVE
========================================================================== */

  @media( max-width:1240px ){
    .content {
      padding: 0 60px;
    }
    .content-black{
      background-position: calc(100% - 60px) center;
    }
    #motto {
      margin-bottom:40px;
    }

    #logo{
      width:100%;
    }
    #video {
      width: calc( 50% - 60px );
      right:60px;
    }

    #content-2 > div,
    #content-4 > div{
      width:auto;
      margin-right:480px;
    }

    #content-5 > div {
      width: 400px;
    }
  }


  @media( max-width:990px ){
    .content {
      padding: 0 40px;
    }
    .content-black{
      background-position: calc(100% - 40px) center;
    }
    #motto {
      margin-bottom:20px;
    }

    #why {
      font-size: 1.2em;
    }

    #video {
      width: calc( 50% - 40px );
      right:40px;
    }

    #content-5 > div {
      width: 360px;
    }
  }


  @media( max-width:850px ){
    body,input,textarea,button{
      font-size: 14px;
    }
    body{
      text-shadow: 1px 1px 0 #000;
    }
    #links {
      position:absolute;
      top: 10px;
      right: auto;
      width: 100%;
      text-align: center;
    }
    #links a { margin: auto;}
    #content-1,#content-3,#content-5{
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      -o-background-size: cover !important;
      background-size: cover !important;
      min-height: 500px;
    }
    .background{
      /*display: none;*/
    }
    .content {
      position: relative;
      height: auto;
      top: auto !important;
      padding:1em;
    }
    .content > div {
      margin:0 !important;
      width:auto !important;
      transform:none !important;
      min-height: 300px;
      text-align: center !important;
    }
    #content-1 {
      padding-top:100px;
    }
    #why{
      font-size: 16px;
    }
    #why a{
      bottom:1em;
    }
    #video{
      position: relative;
      max-width:400px;
      width:100%;
      height:225px;
      right:auto;
      margin:1em auto 0;
    }
    #content-2,
    #content-4{
      background-size:200px auto;
      padding-bottom:200px;
      background-position: bottom center;
      margin-bottom: 20px;
    }
    #content-2 > div ,
    #content-4 > div {
      min-height: 0;
    }
    #logo{
      width:auto;
      max-width:600px;
      margin:0 auto;
      background-size: contain;
    }
    #motto {
      margin-bottom:20px;
    }
    #content-5-text{
      float: none;
      min-height:0;
      margin-bottom:2em !important;
      border-bottom:1px solid rgba(255,255,255,.5);
      padding-bottom: 1em;
    }
    #contact-form {
      float: none;
      max-width: 500px;
      margin: 0 auto !important;
    }
  }

  @media( max-width:500px ){
    #motto {
      margin:0 auto 10px;
    }
    #why,
    #content-2,
    #content-4{
      background-size:160px auto;
      padding-bottom:160px;
      background-position: bottom center;
      margin-bottom: 20px;
    }
    #why{
      margin-bottom: 0;
      background-position: center calc( 100% - 60px);
      padding-bottom:220px;
    }
    #why a{
      bottom:0;
    }
  }