/* Reset body padding and margins */
body { margin:0; padding:0; }
 
/* Make Header Sticky */
#header_container { background:#ffffff; border:0px; height:83px; left:0; position:fixed; width:100%; top:0; }
#header{ line-height:80px; margin:0 auto; width:absolute; text-align:absoluteleft;y-index: 5; 
     z-index: 0;
}

 
/* CSS for the content of page. I am giving top and bottom padding of 80px to make sure the header and footer do not overlap the content.*/
#container { margin:0 auto; overflow:auto; padding:80px 0; width:absolutepx;z-index: 1; }
#content{}
 
/* Make Footer Sticky */
#footer_container { background:#eee; border:1px solid #666; bottom:0; height:60px; left:0; position:fixed; width:100%; }
#footer { line-height:60px; margin:0 auto; width:940px; text-align:center; }

#links {
  position:fixed;
   top: 10px;
   right: 9px;
     z-index: 5;
}

#logo {
  position:absolute;
   top: 100px;
  left: 120px;
     z-index: 3;
}

#logo2 {
  position:absolute;
  top: 220px;
  left: 218px;
  letter-spacing: 1px;
  font-size: 14px;
  font-color: #cccccc;
  z-index: 3;
}

#howitworks {
  position:absolute;
  top: 1120px;
  width: 550px;
  line-height: 24px;
  font-size: 16px;
  font-family: helvetica;
  left: 120px;
  z-index: 4;
}

#howitworks2 {
  position:absolute;
  top: 1000px;
  right: 120px;
  z-index: 4;
}

#why {
  position:absolute;
  top: 310px;
  width: 500px;
  left: 160px;
  line-height: 24px;
  font-size: 16pt;
  z-index: 3;
}

#ourstory {
  position:absolute;
  top: 1680px;
  width: 100% ;
  margin-left: auto ;
  margin-right: auto ;
  z-index: 3;
}

#photo1 {
  background: url(../img/repcord-photo1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:absolute;
  top: 0px;
  width: 100%;
  height: 905px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

#photo2 {
  background-color: #000000;
  position:absolute;
  top: 860px;
  width: 100%;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
}

#photo3 {
  background: url(../img/repcord-photo2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:absolute;
  top: 1550px;
  width: 100%;
  height: 905px;
  margin-left: auto;
  margin-right: auto;
  z-index: 4;
}

#photo3text {
  position:absolute;
  top: 1810px;
  width: 500px;
  right: 160px;
  line-height: 24px;
  text-align: right;
  font-size: 12pt;
  font-family: helvetica;
  z-index: 4;
}

#photo4 {
  background-color: #000000;
  position:absolute;
  top: 2260px;
  width: 100%;
  height: 900px;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
}

#photo4a {
  position:absolute;
  top: 2720px;
  width: 550px;
  line-height: 24px;
  font-size: 16px;
  font-family: helvetica;
  left: 120px;
  z-index: 4;
}

#photo4b {
  position:absolute;
  top: 2620px;
  right: 120px;
  z-index: 4;
}

#photo5 {
  background: url(../img/photo-end.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:absolute;
  top: 3150px;
  width: 100%;
  height: 905px;
  margin-left: auto;
  margin-right: auto;
  z-index: 4;
}

#photo5text {
  position:absolute;
  top: 3610px;
  width: 500px;
  right: 160px;
  line-height: 24px;
  text-align: right;
  font-size: 12pt;
  font-family: helvetica;
  z-index: 4;
}

#photo5form {
  position:absolute;
  top: 3500px;
  width: 500px;
  left: 100px;
  line-height: 24px;
  text-align: left;
  font-size: 12pt;
  font-family: helvetica;
  z-index: 5;
}

label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}

/* Centre the form within the page */
form {
    margin:0 auto;
    width:459px;
}

/* Style the text boxes */
input, textarea {
  width:439px;
  height:20px;
  background:#efefef;
  border:1px solid #dedede;
  padding:10px;
  margin-top:3px;
  font-size:0.9em;
  color:#3a3a3a;
}

textarea {
  height:150px;
}

input:focus, textarea:focus {
    border:1px solid #97d6eb;
}


#submit {
    width:127px;
    height:38px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}

  #submit:hover {
      opacity:.9;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
 
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}
 
.fade-in.one {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
 
.fade-in.two {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay:0.6s;
  animation-delay: 0.6s;
}
 
.fade-in.three {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s;
}